@import "../base/reset.css";
@import "../utils/variables";
@import "../utils/mixins";

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    background-color: $yellow-pastel;
    box-shadow: -1px -1px 6px 0 rgb(0, 0, 0, 0.3);
    position: sticky;
    top: 0; 
    z-index: 1000; 

    @include mobile {
        padding: 10px 20px; 
        flex-direction: column; 
        gap: 20px; 
        height: auto;
    }
    
    &__logo {
        color: $pink-primary;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.1;
        letter-spacing: -1px;
        text-shadow: 0 2px 10px rgba($pink-primary, 0.5); 
        cursor: pointer;
    }

    &__main-section {
        color: $green;
        display: flex;
        gap: 50px; 
        list-style: none; 
        li {
            position: relative; 
            cursor: pointer;
            padding-bottom: 5px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0%; 
                height: 2px; 
                background-color: $green; 
                transition: width 0.3s ease-in-out; 
            }

            &:hover::after {
                width: 100%;
            }
        }

        @include mobile{
            flex-direction: column;
        }

        @include flex-center;
    }

    &__login-icon, &__main-section {
        color: $green;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: -1px;
    }
    
    &__login-icon {
        cursor: pointer;
        transition: transform 0.2s;
        
        &:hover {
            transform: scale(1.1);
        }
    }
}