
$pink-primary: #F297A0;
$pink-secondary: #F9D0CE;
$yellow-pastel: #F3EAD8;
$green: #B6BB79;


// Tipografía
$font-stack: 'Inter', sans-serif;

// Espaciado
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

